<!DOCTYPE html>
<head>
<!--	<link rel="stylesheet" type="text/css" href="style.css"> -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>
<title>{{title}}</title>

</head>

<body>
<div data-role="page" id="pageone">

	<div data-role="header">
	<h1> Data</h1>
	</div>
	<div data-role="main">
	<button data-role="button"class="ui-btn" id="22">{{pin22}}</button>	
	<button data-role="button"class="ui-btn" id="23">{{pin23}}</button>	
	<button data-role="button"class="ui-btn" id="24">{{pin24}}</button>	
	<button data-role="button"class="ui-btn" id="25">{{pin25}}</button>	
</div>
</div>
</body>
</html>
